.underline {
    text-decoration: underline;
}

.snowborading-pic {
    width:200px;
    height: 400px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #78eb7b;
    color: black;
    padding: 1em 0;
    text-align: center;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #111;
}

.container {
    padding: 20px;
    flex: 1; /* This makes the container take up the remaining space */
}

section {
    margin: 20px 0;
}

h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}

.project {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}
